@model ARPG.Models.Action

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Action</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Actions" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label for="ActionMessage" class="control-label">Description : </label>
                <textarea asp-for="ActionMessage" class="form-control"></textarea>

                <label for="ActionNumber" class="control-label">Number : </label>
                <input asp-for="ActionNumber" type="number" min="0" class="form-control" />

                <span asp-validation-for="ActionMessage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Action : </label>
                <input asp-for="SuccessorMessage1" class="form-control" />

                <label class="control-label">Goes to action : </label>
                <input asp-for="SuccessorCode1" type="number" min="1" class="form-control" />

                <span asp-validation-for="SuccessorMessage1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Action : </label>
                <input asp-for="SuccessorMessage2" class="form-control" />
                <label class="control-label">Goes to action : </label>
                <input asp-for="SuccessorCode2" type="number" min="1" class="form-control" />
                <span asp-validation-for="SuccessorMessage2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Gains de HP : </label>
                <input asp-for="HPGains" type="number" min="-10" max="10" step="1" class="form-control" />
            </div>

            <div class="form-group">
                <input name="bookID" type="hidden" class="form-control" value="@ViewBag.BookID" />
            </div>

            <div class="form-group">
                <label class="control-label">Gains de HP : </label>
                <select asp-for="isWon">
                    <option value="@null">No terminal</option>
                    <option value="@true">Win</option>
                    <option value="@false">Loose</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>


        </form>
    </div>
</div>

<div>
    <a asp-controller="Books" asp-action="Details" asp-route-id="@ViewBag.BookID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
