@model ARPG.Models.Action

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Action</h4>

    <hr />
    <div class="container">
        <div class="card" ¨>
            <div class="card-header">
                <p>
                    @Html.DisplayFor(model => model.ActionMessage)
                    <div class="row float-right align-items-center justify-content-center">
                        <span class="mx-1"> Healthpoint : </span>
                        <div class="progress d-inline" id="progress-hp" style="width:100px; background-color: darkgray;">
                            <div class="progress-bar @(ViewBag.ratio > 75 ? "bg-success" : ViewBag.ratio > 25 ? "bg-warning" : "bg-danger")" style="width : @(ViewBag.ratio)%;" role="progressbar" aria-valuenow="@ViewBag.ratio" aria-valuemin="0" aria-valuemax="100"> @ViewBag.hp / @ViewBag.maxHP </div>
                        </div>
                    </div>
                </p>

            </div>
            <div class="card-body d-flex flex-row justify-content-around">
                @if (Model.GetType().GetProperty("SuccessorMessage1") != null)
                {
                    <a class="btn btn-outline-primary" asp-controller="Actions" asp-action="Details" asp-route-bookId="@Model.BookId" asp-route-actionNumber="@Model.SuccessorCode1">
                        @Html.DisplayFor(model => model.SuccessorMessage1)
                    </a>
                    <a class="btn btn-outline-primary" asp-controller="Actions" asp-action="Details" asp-route-bookId="@Model.BookId" asp-route-actionNumber="@Model.SuccessorCode2">
                        @Html.DisplayFor(model => model.SuccessorMessage2)
                    </a>
                }
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-controller="Books" asp-action="Library">Back to books</a>
</div>
