@model ARPG.Models.Action

@{
    ViewData["Title"] = "End";
}

<h1>End</h1>

<div>
    <h4>Action</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuccessorMessage1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuccessorMessage1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuccessorCode1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuccessorCode1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuccessorMessage2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuccessorMessage2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuccessorCode2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuccessorCode2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
