@model IEnumerable<ARPG.Models.Action>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Action
            </th>
            <th>
                Successor 1
            </th>
            <th>
                Successor 2
            </th>
            <th>
                Manage
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActionMessage)
                <div class="badge badge-secondary float-right">
                    @Html.DisplayFor(modelItem => item.ActionNumber)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuccessorMessage1)
                <div class="badge badge-secondary float-right">
                    @Html.DisplayFor(modelItem => item.SuccessorCode1)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuccessorMessage2)
                <div class="badge badge-secondary float-right">
                    @Html.DisplayFor(modelItem => item.SuccessorCode2)
                </div>
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
