@model ARPG.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<p>
    <a class="btn btn-outline-success" asp-controller="Actions" asp-action="Create" asp-route-bookID="@Model.Id">Add new Action</a>
    <a class="btn btn-outline-success" asp-action="Validate" asp-route-id="@Model.Id">Validate</a> |
</p>


@if (ViewBag.validated != null)
{
    <p class="@(ViewBag.validated ? "text-success" : "text-danger" )">
        Book validated : @(ViewBag.validated ? "Yes !" : "No, check the errors" )
    </p>

}
@if (ViewBag.warnings != null && ViewBag.warnings.Count > 0)
{
    <p>
        <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapse-warning" aria-expanded="false" aria-controls="collapseExample">
            Show warnings
        </button>
        <div class="collapse" id="collapse-warning">
            @foreach (var warning in ViewBag.warnings)
            {
                <p class="alert-warning m-1">
                    @warning
                </p>
            }
        </div>
    </p>
}

@if (ViewBag.errors != null && ViewBag.errors.Count > 0)
{
    <p>
        <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapse-danger" aria-expanded="false" aria-controls="collapseExample">
            Show errors
        </button>
        <div class="collapse" id="collapse-danger">
            @foreach (var error in ViewBag.errors)
            {
                <p class="alert-danger m-1">
                    @error
                </p>
            }
        </div>
    </p>
}

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsValid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsValid)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Action
            </th>
            <th>
                Successor 1
            </th>
            <th>
                Successor 2
            </th>
            <th>
                Manage
            </th>
        </tr>
    </thead>
    @if (Model.Actions != null)
    {
        <tbody>
            @foreach (var item in Model.Actions)
            {
                <tr>
                    <td>
                        <div class="badge badge-secondary">
                            @Html.DisplayFor(modelItem => item.ActionNumber)
                        </div>
                        @Html.DisplayFor(modelItem => item.ActionMessage)
                    </td>
                    <td>
                        <div class="badge badge-@(item.IsWon == null ? "secondary" : item.IsWon.Value ? "success" : "danger")">
                            @(item.IsWon == null ? item.SuccessorCode1.ToString() : item.IsWon.Value ? "win" : "loose")
                        </div>
                        @Html.DisplayFor(modelItem => item.SuccessorMessage1)
                    </td>
                    <td>
                        <div class="badge badge-@(item.IsWon == null ? "secondary" : item.IsWon.Value ? "success" : "danger")">
                            @(item.IsWon == null ? item.SuccessorCode1.ToString() : item.IsWon.Value ? "win" : "loose")
                        </div>
                        @Html.DisplayFor(modelItem => item.SuccessorMessage2)
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" asp-controller="Actions" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="btn btn-outline-danger" asp-controller="Actions" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    }

</table>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
